<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!--
        <property name="hibernate.cache.use_second_level_cache">true</property> 
        <property name="hibernate.cache.use_query_cache">true</property> 
        <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
        -->
    <property name="hibernate.c3p0.min_size">20</property>
    <property name="hibernate.c3p0.max_size">100</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <!--<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>-->
    <!--<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>-->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <mapping resource="com/bitozen/training/infrastructure/persistence/hibernate/Ticket.hbm.xml"/>
    <mapping resource="com/bitozen/training/infrastructure/persistence/hibernate/Pelayanan.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
