/com.agit.crm.util/target/
/com.agit.crm.shared/target/
/com.agit.crm.common/target/
/com.agit.crm.user.management/target/
/com.agit.crm.core/target/
/com.agit.crm.main/target/
/com.agit.crm.masterdata/target/